.header{
border: 1px solid red;
margin:0px;
width:1500px;
height: 10px;
margin-right: 100%;
padding: 40px;
display: flex;
justify-content:start ;
}

body{
font-size:25px;
}
.imagenfondo{
display: flex;
justify-content: center;
margin: 20px;
}
.button{
border: 1px solid blue ;
display: flex;
align-items: center;
margin: 0%;
}


