.header{
border: 1px solid red;
margin:0px;
width:1500px;
height: 100px;
margin-right: 100%;
padding: 40px;
display: flex;
justify-content:start ;
border-radius: 50px;
}

body{
font-size:25px;
}
.imagenfondo{
display: flex;
justify-content: center;
margin: 20px;
height: 100%;
width: 500%;
}
.boton{
padding: 10px;
width: 100;
right: 10px;
align-content: space-around;
} 
.caja3{
border: 1px solid blue;
margin:0px;
width:1000px;
height: 100px;
margin-right: 100%;
padding: 40px;
display: flex;
justify-content:first baseline ;
}
.menu{
list-style: none;
margin-left: 22px;
width: 200%;
padding: 20px;
}