.header{
border: 1px solid red;
margin:3px;
width:1500px;
height: 100px;
margin-right: 100%;
padding: 40px;
display: flex;
justify-content:start ;
border-radius: 50px;
}

body{
font-size:25px;
}
.imagenfondo{
display: flex;
justify-content: center;
margin: 20px;
height: 100%;
width: 500%;
}
.button{
padding: 10px;
width: 1000;
padding-left: 100%;
align-content: space-around;
right: 500%;
} 
.caja3{

margin:0px;
width:1000px;
height: 100px;
margin-right: 100%;
padding: 40px;
display: flex;
justify-content:first baseline ;
}
.menu{
list-style: none;
margin-left: 22px;
width: 200%;
padding: 20px;
}
.caja4{

width:100%;
display: flex;
align-content: flex-end;
padding: 100px;
}

.imagen1{
border:1px solid blue;

}